.listProfile{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    background: var(--blue);
    color: var(--white);

}

.listProfile span{
    /* display: flex;
    flex-direction: row; */
    
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Duas colunas com tamanho igual */
    gap: 6.25rem; /*espaçamento entre elas*/
    align-content: center;

}

.listProfile span p{
    padding: 2rem;
    align-items: center;
    justify-content: center;
}